<div class="bookmarklet-hover-box">
  <%= data.name %>
	<ul>
		<li><a href="#" class="advance-timeline">Adv timeline</a></li>
		<li><a href="#" class="inc-viewer">Increment Timeline Images &gt; &gt;</a></li>
	</ul>
</div>
