<div class="bookmarklet-hover-box">
  <strong><%= data.name %></strong> <span class="close-btn"><a href="#">close</a></span>
	<ul>
		<li><a href="#" class="advance-timeline">Adv timeline</a></li>
		<li><a href="#" class="inc-viewer">Increment Timeline Images &gt; &gt;</a></li>
	</ul>
</div>
